body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
* {
    box-sizing: border-box;
}
#TopNav {
    width: auto;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 24px 0px 24px;
}
#Avion {
    position: relative;
    top: 20px;
    width: 50px;
    height: 28px;
    font-size: 20px;
}
#MainLinks {
    display: none;
}
#SideActions {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 27px;
    width: 124px;
    height: 16px;
}
#Footer {
    width: 100%;
    height: 688px;
    background-color: #2A254B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#FooterDownImg {
    display: none;
}
.menuTxT {
    color: #FFFFFF;
    font-size: 16px;
}
.Name {
    color: #FFFFFF;
    font-size: 20px;
}
#line {
    width: 100%-24px;
    margin: 5px 24px 5px 24px;
    height: 1px;
    background-color: #4E4D93;
    position: relative;
    bottom: 10px;
}
#menu {
    position: relative;
    width: 127px;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 205px;
}
#сategories {
    position: relative;
    bottom: 198px;
    width: 98px;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#ourCompany {
    position: relative;
    bottom: 148px;
    width: 121px;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#FooterTop {
    margin: 40px 24px 5px 24px;
    height: 560px;
}
.Name {
    color: #FFFFFF;
    font-size: 20px;
}
#EmailTxT {
    position: relative;
    bottom: 118px;
}
#registerEmail {
    width: 342px;
    height: 60px;
    background-color: #FFFFFF26;
    font-size: 20px;
    padding-left: 24px;
    position: relative;
    color: #FFFFFF;
    bottom: 108px;
}
#FooterDown {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20px;
}
#EmailBut {
    width: 131px;
    height: 60px;
    background-color: #FFFFFF;
    font-size: 20px;
    position: relative;
    bottom: 108px;
    right: 135px;
}