body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
#TopNav {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#Avion {
    position: relative;
    left: 80px;
    top: 25px;
    width: 50px;
    height: 28px;
    font-size: 20px;
}
#MainLinks {
    position: relative;
    top: 29px;
    width: 790px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#SideActions {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 29px;
    right: 80px;
    width: 80px;
    height: 16px;
}
#menuuu {
    display: none;
}
.MainLinkstxt {
    font-size: 20px;
}
#Footer {
    width: 100%;
    height: 414px;
    background-color: #2A254B;
}
#FooterTop {
    margin: 40px 80px 40px 80px;
}
#FooterDown {
    margin: 20px 80px 40px 80px;
}
#line {
    width: 100%-80px;
    margin: 0px 80px 0px 80px;
    height: 1px;
    background-color: #4E4D93;
}
#Footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#FooterTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#FooterDown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menuTxT {
    color: #FFFFFF;
    font-size: 16px;
}
.Name {
    color: #FFFFFF;
    font-size: 20px;
}
#menu {
    width: 127px;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#сategories {
    width: 98px;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#ourCompany {
    width: 121px;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#EmailTxT {
    position: relative;
    left: 5px;
}
#registerEmail {
    background-color: #FFFFFF26;
    width: 496px;
    height: 60px;
    font-size: 20px;
    padding-left: 24px;
    position: relative;
    top: 10px;
    left: 5px;
    color: #FFFFFF;
}
#EmailBut {
    width: 131px;
    height: 60px;
    background-color: #FFFFFF;
    font-size: 20px;
    position: relative;
    top: 10px;
}
#FooterDownImg {
    position: relative;
    bottom: 10px;
    width: 264px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#FooterDownTxT {
    position: relative;
    bottom: 10px;
}
#Osn {
    width: 100%-80px;
    height: 758px;
    padding: 50px 80px 50px 80px;
}
#Tow {
    width: 607px;
    height: 661px;
}
#TxTenoz {
    position: relative;
    left: 677px;
    bottom: 661px;
}
.P24 {
    font-size: 24px;
}
#TCena {
    position: relative;
    top: 20px;
}
#TOpis1 {
    position: relative;
    top: 80px;
}
#TOpis2 {
    font-size: 16px;
    position: relative;
    top: 90px;
    width: 498px;
}
#TOpis3 {
    position: relative;
    top: 110px;
}
#THar {
    position: relative;
    top: 130px;
    width: 324px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}
#THarC {
    position: relative;
    top: 140px;
    width: 324px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}
#TOpis4 {
    position: relative;
    top: 260px;
}
#quantityy {
    position: relative;
    width: 122px;
    height: 52px;
    top: 270px;
    padding: 12px 16px 12px 16px;
    padding-left: 40px;
}
#Plus {
    position: relative;
    top: 230px;
    left: 85px;
}
#Minus {
    position: relative;
    top: 200px;
}
#AddTow {
    position: relative;
    top: 230px;
    font-size: 20px;
    background-color: #2A254B;
    color: #FFFFFF;
    width: 163px;
    height: 60px;
}
#Favorit {
    position: relative;
    top: 230px;
    font-size: 20px;
    width: 213px;
    height: 60px;
}