body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
* {
    box-sizing: border-box;
}
#TopNav {
    width: auto;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 24px 0px 24px;
}
#Avion {
    position: relative;
    top: 20px;
    width: 50px;
    height: 28px;
    font-size: 20px;
}
#MainLinks {
    display: none;
}
#SideActions {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 27px;
    width: 124px;
    height: 16px;
}
#Footer {
    width: 100%;
    height: 688px;
    background-color: #2A254B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#FooterDownImg {
    display: none;
}
.menuTxT {
    color: #FFFFFF;
    font-size: 16px;
}
.Name {
    color: #FFFFFF;
    font-size: 20px;
}
#line {
    width: 100%-24px;
    margin: 5px 24px 5px 24px;
    height: 1px;
    background-color: #4E4D93;
    position: relative;
    bottom: 10px;
}
#menu {
    position: relative;
    width: 127px;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 205px;
}
#сategories {
    position: relative;
    bottom: 198px;
    width: 98px;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#ourCompany {
    position: relative;
    bottom: 148px;
    width: 121px;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#FooterTop {
    margin: 40px 24px 5px 24px;
    height: 560px;
}
.Name {
    color: #FFFFFF;
    font-size: 20px;
}
#EmailTxT {
    position: relative;
    bottom: 118px;
}
#registerEmail {
    width: 342px;
    height: 60px;
    background-color: #FFFFFF26;
    font-size: 20px;
    padding-left: 24px;
    position: relative;
    color: #FFFFFF;
    bottom: 108px;
}
#FooterDown {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20px;
}
#EmailBut {
    width: 131px;
    height: 60px;
    background-color: #FFFFFF;
    font-size: 20px;
    position: relative;
    bottom: 108px;
    right: 135px;
}
#Osn {
    width: 100%;
    height: 1070px;
}
#Tow {
    position: relative;
    width: 390px;
    height: 380px;
}
.aga {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}









#TxTenoz {
    width: 100%-24px;
    padding: 30px 24px 30px 24px;
}
.P24 {
    font-size: 24px;
}
#TOpis {
    position: relative;
    width: 250px;
}
#TCena {
    width: 250px;
    position: relative;
    top: 20px;
}
#TOpis1 {
    position: relative;
    top: 80px;
}
#TOpis2 {
    font-size: 16px;
    position: relative;
    top: 90px;
}
#TOpis3 {
    position: relative;
    top: 110px;
}
#THar {
    position: relative;
    top: 130px;
    width: 324px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}
#THarC {
    position: relative;
    top: 140px;
    width: 324px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}
#TOpis4 {
    position: relative;
    top: 260px;
}
#quantityy {
    position: relative;
    width: 122px;
    height: 52px;
    top: 270px;
    padding: 12px 16px 12px 16px;
    padding-left: 40px;
}
#Plus {
    width: 50px;
    position: relative;
    top: 230px;
    left: 85px;
}
#Minus {
    position: relative;
    top: 200px;
}
#AddTow {
    position: relative;
    top: 230px;
    font-size: 20px;
    background-color: #2A254B;
    color: #FFFFFF;
    width: 163px;
    height: 60px;
}
#Favorit {
    position: relative;
    top: 230px;
    font-size: 20px;
    width: 213px;
    height: 60px;
}