body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
* {
    box-sizing: border-box;
}
#TopNav {
    width: auto;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 24px 0px 24px;
}
#Dop {
    position: absolute;
    width: 100px;
    height: 200px;
    background-color: #cacaca80;
    z-index: 2;
    right: 20px;
    top: 50px;
    border-radius: 10px;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
#Avion {
    position: relative;
    top: 20px;
    width: 50px;
    height: 28px;
    font-size: 20px;
}
#MainLinks {
    display: none;
}
#SideActions {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 27px;
    width: 124px;
    height: 16px;
}
#HeroBlocks {
    width: 100%;
    height: 502px;
    background-color: #2A254B;
}
#TopContentTxT {
    position: relative;
    color: #FFFFFF;
    font-size: 20px;
    top: 40px;
    margin: 0px 24px 0px 24px;
    @media (min-width: 540px) {
        display: flex;
        justify-content: center;
    }
}
.sss {
    display: flex;
    justify-content: center
}
#TopContentBut {
    position: relative;
    width: 342px;
    height: 60px;
    background-color: #F9F9F926;
    color: #FFFFFF;
    font-size: 20px;
    top: 370px;
}
#HeroBlocksTxT {
    position: relative;
    top: 195px;
    font-size: 16px;
    margin: 0px 24px 0px 24px;
    color: #FFFFFF;
}
#RightImage {
    display: none;
}
#Listings {
    width: auto;
    height: 661px;
    padding: 0px 24px 0px 24px;
    margin: 50px 0px 40px 0px;
}
.ListingsListObjimg {
    width: 163px;
    height: 212px;
}
#ListingsList {
    display: none;
}
#ListingsList1 {
    position: relative;
    display: flex;
    justify-content: center;
    top: 10px;
}
#L1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#L2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ListingsListObj {
    margin: 10px 10px 10px 10px;
}
#ListingsTxT {
    font-size: 20px;
}
#ListingsBut {
    position: relative;
    background-color: #F9F9F9;
    width: 342px;
    height: 60px;
    font-size: 20px;
    top: 30px;
}
#Features {
    width: 100%;
    height: 748px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#FeaturesKont {
    margin: 40px 24px 40px 24px;
}
#FeaturesImg {
    width: 100%;
    height: 358px;
}
#FeaturesTxT11 {
    font-size: 20px;
}
#FeaturesTxT1 {
    display: none;
}
#ListingsList2 {
    display: none;
}
#ii {
    display: none;
}
#ii1 {
    display: none;
}
#ii2 {
    display: none;
}
#ii3 {
    display: none;
}
#FeaturesTxT2 {
    position: relative;
    top: 20px;
    color: #505977;
    font-size: 16px;
}
#FeaturesBut {
    position: relative;
    background-color: #F9F9F9;
    width: 342px;
    height: 60px;
    @media (min-width: 482px) {
        top: 80px;
    }
    @media (max-width: 481px) {
        top: 60px;
    }
}







#Footer {
    width: 100%;
    height: 688px;
    background-color: #2A254B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#FooterDownImg {
    display: none;
}
.menuTxT {
    color: #FFFFFF;
    font-size: 16px;
}
.Name {
    color: #FFFFFF;
    font-size: 20px;
}
#line {
    width: 100%-24px;
    margin: 5px 24px 5px 24px;
    height: 1px;
    background-color: #4E4D93;
    position: relative;
    bottom: 10px;
}
#menu {
    position: relative;
    width: 127px;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 205px;
}
#сategories {
    position: relative;
    bottom: 198px;
    width: 98px;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#ourCompany {
    position: relative;
    bottom: 148px;
    width: 121px;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#FooterTop {
    margin: 40px 24px 5px 24px;
    height: 560px;
}
.Name {
    color: #FFFFFF;
    font-size: 20px;
}
#EmailTxT {
    position: relative;
    bottom: 118px;
}
#registerEmail {
    width: 342px;
    height: 60px;
    background-color: #FFFFFF26;
    font-size: 20px;
    padding-left: 24px;
    position: relative;
    color: #FFFFFF;
    bottom: 108px;
}
#FooterDown {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20px;
}
#EmailBut {
    width: 131px;
    height: 60px;
    background-color: #FFFFFF;
    font-size: 20px;
    position: relative;
    bottom: 108px;
    right: 135px;
}